<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>上传文件</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/common.css}">
</head>
<body>

<div>
    <div>
        <div>
            <fieldset>
                <legend>上传文件</legend>
                <form method="post" th:action="@{/file/upload}" enctype="multipart/form-data">
                    <input type="file" name="file">
                    <span class="note">文件下载之后就会删除(文件最多保留一天, 过期删除不负责)</span>
                    <br><br>
                    <input type="submit" value="提交">
                </form>
            </fieldset>
        </div>
    </div>
</div>
</body>