<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link href="css/style.css" rel='stylesheet' type='text/css'/>

    <script type="text/javascript">

    </script>
</head>
<body>

<div>

    <div class="top-grids">
        <div class="wrap">
            <h3><span>Check Out</span>Features</h3>
            请使用最新地址:  <a href="http://sanpang.lyingfromyou.top">sanpang.lyingfromyou.top</a>
            <div data-scroll-reveal="enter bottom but wait 0.7s" class="top-grids-box">
                <div data-scroll-reveal="enter top over 0.7s after 0.7s" class="top-grid">
                    <img th:src="@{img/sp1.jpg}" style="border-radius: 180px; width:170px; height:170px">
                    <h4><a  th:href="@{/sendMailPage}"> <span style="font-family: Arial">发送 邮件</span></a></h4>
                    <a class="btn"  th:href="@{/sendMailPage}">Send Email</a>
                </div>

                <div data-scroll-reveal="enter top over 0.7s after 0.7s" class="top-grid">
                    <img th:src="@{img/sp2.jpg}" style="border-radius: 180px; width:170px; height:170px">
                    <h4><a  th:href="@{/mergeFilePage}"> <span style="font-family: Arial">文件 合并</span></a></h4>
                    <a class="btn"  th:href="@{/mergeFilePage}">Merge File</a>
                </div>
                <div data-scroll-reveal="enter top over 0.7s after 0.7s" class="top-grid">
                    <img th:src="@{img/sp3.jpg}" style="border-radius: 180px; width:170px; height:170px">
                    <h4><a  th:href="@{/fileUploadAndDownloadPage}">
                        <span style="font-family: Arial">文件 上传/下载</span>
                    </a></h4>
                    <a class="btn" th:href="@{/fileUploadAndDownloadPage}">File U/D</a>
                </div>
                <div data-scroll-reveal="enter top over 0.7s after 0.7s" class="top-grid">
                    <img th:src="@{img/sp4.jpg}" style="border-radius: 180px; width:170px; height:170px">
                    <h4><a  th:href="@{/checkPhonePage}">空号 检测</a></h4>
                    <a class="btn"  th:href="@{/checkPhonePage}">
                        <span style="font-family: Arial">Vacant Number Check</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>