<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>合并信息</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/common.css}">
</head>
<body>

<form method="post" th:action="@{/mergeExcel}" enctype="multipart/form-data">
    电话信息文件(<span class = "note">可以上传多个, 表头必须为 '姓名'、 '电话'. 文件自动补全空白电话信息</span>) <input type="file" name="phoneFileList" multiple><br><br>

    公司信息文件(<span class = "note">可以上传多个, 表头必须为 '姓名'、 '公司'</span>)  <input type="file" name="taxFileList" multiple><br><br>
    文件名: <input type="text" name="fileName"><br><br>
    <input type="submit" value="提交">
</form>


</body>
</html>