<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>合并信息</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/common.css}">
</head>
<body>

<form method="post" th:action="@{/mergeFile}" enctype="multipart/form-data">
    待合并文件(<span class="note">* 可以上传多个, 必填</span>) <input type="file" name="fileList" multiple><br><br>
    文件名(<span class="note">* 必填</span>): <input type="text" name="fileName"><br><br>
    合并键(<span class="note">* 必填</span>): <input type="text" name="mergeKey" value="姓名"><br><br>
    分行键(<span class="note">* 必填</span>): <input type="text" name="rowKey" value="电话"><br><br>
    合并之后接收文件的邮箱(<span class="note">* 必填</span>): <input type="text" name="email"><br><br>

    <input type="submit" value="提交">
</form>

<h3 style="color:red">合并键的意思是, 以什么为标准合并.
    <br> 例如, 以 '姓名' 为标准合并所有文件, 则在 '合并键' 输入框中输入 '姓名', 且所有文件的表头都必须要有一个 '姓名' 的表头.
    <br> 除 '合并键' 之外的表头, 建议不要重复.<br><br>

    分行键: 大概率以 '电话' 为输入值, 不做解释.
</h3>


</body>
</html>