<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>上传Excel获取公司</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
<!--    <link rel="stylesheet" type="text/css" href="../static/css/common.css">-->
    <link rel="stylesheet" type="text/css" th:href="@{css/common.css}">
</head>
<body>

<div >
    <div >
        <div >
            <fieldset>
                <legend>上传身份信息</legend>
                <form method="post" th:action="@{/upload}" enctype="multipart/form-data">
                    Cookie: <textarea name="cookie" rows="10" cols="50"></textarea><br><br>
                    <input type="file" name="file" multiple>
                    <span class = "note">表头必须为 '姓名'、 '身份证'</span>
                    <br><br>
                    <input type="submit" value="提交">
                </form>

                <HR>
                <form th:action="@{/batchDelete}" method="post">
                    Cookie: <textarea name="cookie" rows="10" cols="50"></textarea><br><br>
                    <input type="submit" value="一键删除"/>
                </form>
            </fieldset>


        </div>
        <div >
            <form th:action="@{/fileList}" method="get" style="float:left;">
                <input type="submit" value="文件列表"/>

            </form>

            <form th:action="@{/mergeView}" method="get" style="float:left;margin-left:20px;margin-right: 20px">
                <input type="submit" value="合并文件"/>
            </form>

            <form th:action="@{/logout}" method="post" style="float:left;margin-left:20px;margin-right: 20px">
                <input type="submit" value="退出"/>
            </form>
            <span class="note">(统一所有文件表头(Excel标题), 姓名、身份证、电话)</span>
        </div>
    </div>
</div>


</body>
</html>